.each-team-card-container {
  width: 160px;
  height: 140px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
  transition: transform 0.3s ease;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 768px) {
  .each-team-card-container {
    width: 240px;
    height: 120px;
  }
}

.each-team-card-container:hover {
  transform: scale(1.05);
}

.team-image-url {
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
}

.team-name {
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
}

.link {
  text-decoration: none;
}
