/* Write your CSS here */
.team-matches-container {
  display: flex;
  flex-direction: column;
  justify-content: space-center;
  align-items: center;
  font-family: 'roboto';
  color: white;
  background-color: lightblue;
}
.team-banner-image {
  height: 220px;
  margin-top: 40px;
  width: 90%;
}

@media (min-width: 768px) {
  .team-banner-image {
    height: 400px;
    width: 90%;
  }
}
.recent-matches-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 98%;
}

.back-btn {
  background-color: aqua;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  align-self: flex-end;
  margin-right: 30px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}
